
html, body {
  background: #f7f9fb;
  color: #2d2d2d;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  padding: 0;
}


a {
  color: #7a7b7b;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #676868;
}

